body {
    background-color: #fcefe8;
}

.banner-fluid {
    background-color: #a0c4ff;
    color: #4f4f4f;
    border-bottom: 2px solid #8ecae6;
}
.profile{
.card {
    border: none;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    overflow: hidden;
    border-color: #4f4f4f;
}
}
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

h2 {
    color: #4f4f4f;
    text-align: center;
}

.btn {
    border-radius: 50px;
    min-width: 120px;
}

.btn-outline-primary {
    background-color: #d0ebff;
    border-color: #74c0fc;
    color: #1c7ed6;
}

.btn-primary {
    background-color: #bdb2ff;
    border-color: #9d4edd;
}

@media (max-width: 576px) {
    .btn {
        width: 100%;
    }
}
.container-projects{
    text-align: center;
}



.project-card {
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.project-img {
    height: 200px;
    object-fit: cover;
}

.project-card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
